@import '../../../styles/variables.css';

.checked-style {
  color: #e6edf4;
  text-decoration: line-through;
}
.unchecked-style {
  color: white;
}

.list-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.group-list-icon {
  margin-right: 10px;
}

.group-list-icon.completed {
  color: #fbeba5;
  font-weight: bold;
}

.group-list-icon p {
  margin-left: 2px;
  font-size: 13px;
}

.todo-list {
    width: 500px;
    background-color: #b7cce2;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

.todo-list h3 {
    color: white;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

ul {
    padding-inline-start: 20px;
    color: white;
}

hr {
    border: 0;
    border-top: 2px solid #fff;
}

/* I think we should have the sidebar cover content instead of pushing it to the side - erin */
/* If the sidebar covers content instead, itll make coding it for mobile much easier */
