.checkedStyle {
  color: #e6edf4;
  text-decoration: line-through;
}
.uncheckedStyle {
  color: white;
}

.completion-wheel {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: rgb(87, 87, 87);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  margin-right: 10px;
  background: 
		radial-gradient(
			white calc(50% - 1px), 
			transparent 20%), 
		conic-gradient(from 0deg, 
			#6bdb5d 50%, #bdbdbd 0%);
}

.list-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.group-list-icon {
  margin-right: 10px;
}

.group-list-icon.completed {
  color: #FBEBA5;
  font-weight: bold;
}

.group-list-icon p {
  margin-left: 2px;
  font-size: 13px;
}