@import '../../../styles/variables.css';

.todo-list {
    width: 500px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
}

.todo-list h3 {
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
}

ul {
    padding-inline-start: 20px;
}

/* I think we should have the sidebar cover content instead of pushing it to the side - erin */
/* If the sidebar covers content instead, itll make coding it for mobile much easier */